@import './variables.scss';

@mixin button {
   display: block;

   border: none;

   background-color: transparent;

   &:focus,
   &:active,
   &:focus-visible {
      outline: none;
   }
}

@mixin input {
   border: none;

   background-color: transparent;

   &:focus,
   &:active,
   &:focus-visible {
      outline: none;
   }
}

@mixin full-screen {
   width: 100vw;
   width: 100dvw;
   height: 100vh;
   height: 100dvh;
}

@mixin full-width {
   width: 100%;
}

@mixin full-height {
   height: 100%;
}

@mixin full-size {
   @include full-width;
   @include full-height;
}

@mixin zero-indent {
   margin: 0;
   padding: 0;
}

@mixin zero-indent {
   margin: 0;
   padding: 0;
}

@mixin text-settings {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
      @include zero-indent;
   }
}

@mixin vertical-scroll {
   overflow-y: auto;
}

@mixin horizontal-scroll {
   overflow-x: auto;
}

@mixin box-shadow-s {
   box-shadow: 0 3px 6px rgba(black, 0.15);
}

@mixin box-shadow-m {
   box-shadow: 0 6px 12px rgba(black, 0.15);
}

/* FLEX */

@mixin flex($gap: 0) {
   display: flex;
   gap: $gap;
}

@mixin flex-row {
   @include flex();
   flex-direction: row;
}

@mixin flex-row-reverse {
   @include flex();
   flex-direction: row-reverse;
}

@mixin flex-column($gap: 0) {
   @include flex();
   flex-direction: column;
   gap: $gap;
}

@mixin flex-column-reverse {
   @include flex();
   flex-direction: column-reverse;
}

@mixin flex-center {
   justify-content: center;
   align-items: center;
}

@mixin flex-start {
   justify-content: flex-start;
   align-items: flex-start;
}

@mixin flex-horiztonal-start {
   justify-content: start;
   align-items: center;
}

@mixin flex-vertical-start {
   align-items: flex-start;
   justify-content: center;
}

@mixin flex-end {
   align-items: flex-end;
   justify-content: flex-end;
}

@mixin flex-horizontal-end {
   align-items: center;
   justify-content: end;
}

@mixin flex-vertical-end {
   align-items: flex-end;
   justify-content: center;
}

@mixin flex-between {
   align-items: center;
   justify-content: space-between;
}
