@import 'styles';

.buttonWrapper {
   @include flex(column, center, flex-start, 8px);

   .button {
      @include button;
   }
}

/* VARIANTS */

/* SIZES */

.m {
   .label {
      margin-left: 12px;
   }

   .button {
      @include box-shadow-m;

      font-size: 24px;

      padding: 12px 24px;

      border-radius: 8px;
   }
}

/* POSITION */

.left {
   @include align-left;
}

.right {
   @include align-right;
}

.center {
   @include align-center;
}
